<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booklending.mapper.BookMapper">
    
    <resultMap id="BaseResultMap" type="com.booklending.model.Book">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="isbn" property="isbn" jdbcType="VARCHAR"/>
        <result column="publish_year" property="publishYear" jdbcType="INTEGER"/>
        <result column="publisher" property="publisher" jdbcType="VARCHAR"/>
        <result column="cover_image" property="coverImage" jdbcType="VARCHAR"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, title, author, description, isbn, publish_year, publisher, cover_image, stock, status, create_time, update_time
    </sql>
    
    <insert id="insert" parameterType="com.booklending.model.Book" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO book (title, author, description, isbn, publish_year, publisher, cover_image, stock, status, create_time, update_time)
        VALUES (#{title}, #{author}, #{description}, #{isbn}, #{publishYear}, #{publisher}, #{coverImage}, #{stock}, #{status}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
    
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM book WHERE id = #{id}
    </delete>
    
    <update id="update" parameterType="com.booklending.model.Book">
        UPDATE book
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="description != null">description = #{description},</if>
            <if test="isbn != null">isbn = #{isbn},</if>
            <if test="publishYear != null">publish_year = #{publishYear},</if>
            <if test="publisher != null">publisher = #{publisher},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="status != null">status = #{status},</if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="updateStock">
        UPDATE book
        SET stock = #{stock}, update_time = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>
    
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM book
        WHERE id = #{id}
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM book
    </select>
    
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.booklending.model.Book">
        SELECT
        <include refid="Base_Column_List"/>
        FROM book
        <where>
            <if test="title != null and title != ''">
                AND title LIKE '%' || #{title} || '%'
            </if>
            <if test="author != null and author != ''">
                AND author LIKE '%' || #{author} || '%'
            </if>
            <if test="isbn != null and isbn != ''">
                AND isbn LIKE '%' || #{isbn} || '%'
            </if>
            <if test="publisher != null and publisher != ''">
                AND publisher LIKE '%' || #{publisher} || '%'
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
</mapper>